*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.body{
    background-color: #fff;
    height: auto;
    overflow: scroll;
}


/**************下面是顶部的样式******************/

.top_header{
    display: block;
    width: 100%;
    height: 30px;
    min-height: 30px;
    background-color: #003674;
}

.top_header p{
    display: block;
    margin-left: 10%;
    color: white;
}

.top_header p a{
    font: bold 12px/30px arial,sans-serif;
    font-size: 10px;
    text-decoration: none;
    margin-top: -10px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.top_header ul{
    display: block;
    position: absolute;
    top: 0;
    left: 90%;
    color: white;
}

.top_header ul li{
    float: left;
    color: white;
}

.top_header ul li a{
    text-decoration: none;
    font: bold 12px/30px arial,sans-serif;
    font-size: 10px;
    margin-top: -10px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.header{
    width: 100%;
    height: 235px;
}

.header_logo{
    display: block;
    position: relative;
    left: 9%;
    margin-top: 10px;
}

.header_search{
    position: absolute;
    left: 50%;
    top: 75px;
}

.header_search input{
    width: 420px;
    height: 35px;
    border: solid #efefef 2px;
    font-size: 10px;
}

.header_search button{
    width: 60px;
    height: 37px;
    float: right;
    margin-top: 1px;
    border: 1px solid #ff0024;
    background-color: #ff0024;
    color: white;
    font: 400 15px/37px arial,sans-serif;
    outline: none;

}

.header_logo_two{
    width: 100%;
    height: 100px;
    margin-top: 15px;
}

header figure a{
    width: 130px;
    height: 35px;
    position: relative;
    top: -73px;
    left: 35%;
}

/**************上面是顶部的样式******************/



/**********************下面是nav导航条模块********************/

.nav_list{
    width: 100%;
    height: 40px;
    position: relative;
    background-color: #ba5b55;
}

.nav_list ul li{
    float: left;
    height: 40px;
    margin-left: 85px;
}

.nav_list ul li:nth-child(6){
    padding-top: 7px;
    margin-left: 200px;
}

.nav_list ul li a{
    display: block;
    height: 40px;
    text-decoration: none;
    font: bold 15px/30px arial,sans-serif;
    padding-top: 5px;
    color: white;
}

.nav_list ul li input{
    width: 160px;
    height: 22px;
    border-radius: 10px 0 0 10px;
    font: 300 13px/22px arial,sans-serif;
    display: inline-block;
}


.nav_list ul li button{
    width: 25px;
    height: 26px;
    border-radius: 0 13px 13px 0;
    background-color: #393939;
    border: 1px #ccc solid;
    display: inline-block;
    position: relative;
    top: 2px;
}

.nav_list ul li button:focus{
    outline: none;
}

/**********************上面是nav导航条模块********************/

.section_content1{
    width: 1200px;
    height: 400px;
    position: relative;
    top: 10px;
    margin: 0 auto;
    text-align: center;
    background: url("../img/images/page4_section1_bg.png") no-repeat;
}

.section_content1 figure{
    width: 410px;
    height: 310px;
    position: relative;
    top: 35px;
    display: inline;
}

.section_content1 figure img{
    border: 2px solid #fff;
    box-shadow: 0 0 50px 10px #fff;
}

.section_content1_content{
    width: 545px;
    height: 280px;
    float: right;
    position: relative;
    top: 80px;
    right: 75px;
    display: inline-block;
    text-align: left;
}

.section_content1_content h2{
    color: white;
}

.section_content1_content p:nth-of-type(1){
    margin-top: 20px;
    color: white;
    font: 600 17px/20px arial,sans-serif;
}

.section_content1_content p:nth-of-type(2){
    color: white;
    font: 600 17px/20px arial,sans-serif;
}

.section_content1_content p:nth-of-type(3){
    margin-top: 20px;
    color: white;
    font: 500 17px/20px arial,sans-serif;
}

.section_content1_content p:nth-of-type(4),.section_content1_content p:nth-of-type(5),.section_content1_content p:nth-of-type(6){
    color: white;
    font: 500 17px/20px arial,sans-serif;
}






.section_content2{
    width: 1200px;
    height: 330px;
    position: relative;
    top: 20px;
    background-color: #f8f8f8;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.section_content2_header{
    width: 1200px;
    height: 125px;
    background: url("../img/images/page4_section2_header.png");
}

.section_content2_content_left{
    width: 40px;
    height: 190px;
    background: url("../img/images/page4_content2_content_left.png");
    position: absolute;
    left: 0;
    float: left;
    cursor: pointer;
    z-index: 5;
    display: inline-block;
}

.section_content2_content_right{
    width: 40px;
    height: 190px;
    background: url("../img/images/page4_content2_content_right.png");
    position: absolute;
    left: 1160px;
    cursor: pointer;
    z-index: 15;
    display: inline-block;
}

.section_content2_content ul{
    width: 2200px;
    height: 190px;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    left: 40px;
}

.section_content2_content ul li{
    width: 190px;
    height: 190px;
    float: left;
    margin-right: 42px;
}



.section_content3{
    width: 1200px;
    height: 700px;
    position: relative;
    top: 40px;
    margin: 0 auto;
    text-align: center;
}

.section_content3_header{
    width: 1200px;
    height: 80px;
    background: url("../img/images/page4_section3_header.png") no-repeat;
}

.section_content3_content{
    width: 1200px;
    height: 620px;
}

.section_content3_content ul{
    width: 1200px;
    height: 620px;
}

.section_content3_content ul li{
    width: 295px;
    height: 295px;
    float: left;
    margin-right: 5px;
    margin-bottom: 25px;
}

.section_content3_content ul li figure{
    width: 275px;
    height: 275px;
    float: left;
}

.section_content3_content ul li div{
    width: 240px;
    height: 120px;
    float: right;
    position: relative;
    top: -100px;
    background-color: rgba(190, 112, 106, 0.75);
}

.section_content3_content ul li div h5{
    margin-top: 23px;
    margin-left: 25px;
    margin-bottom: 10px;
    text-align: left;
    font: bold 25px/30px arial,sans-serif;
    color: white;
}

.section_content3_content ul li div p{
    margin-left: 25px;
    text-align: left;
    font: 600 15px/20px arial,sans-serif;
}

.section_content3_content ul li div p:nth-of-type(1){
    margin-left: 20px;
}

.section_content3_content ul li div p a{
    text-decoration: none;
    color: #000;
}

.section_content3_content ul li div p a:hover{
    color: rgba(51, 45, 190, 0.75);
}





















    /***********************footer底部*******************************/

footer{
    width: 100%;
    height: 360px;
    position: relative;
    top: 110px;
}

.footer_img{
    position: relative;
    width: 100%;
    height: 185px;
    overflow: hidden;
}

.footer_img ul li{
    float: left;
    display: block;
    width: 32.20%;
}



.footer_info{
    position: relative;
    top: 0;
    width: 100%;
    height: 220px;
    background-color: #003674;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.footer_list{
    display: inline-block;
    width: 100%;
    list-style-type: circle;
    height: 25px;
}

.footer_list li{
    list-style: circle;
    display: inline;
    margin-right: 30px;
}


.footer_list li a{
    text-decoration: none;
    list-style: none;
    color: white;
    font: bold 15px/30px arial,sans-serif;
}

.footer_info p{
    margin-top: 15px;
    text-align: center;
    font: 300 17px/30px arial,sans-serif;
}



/*********************下面是响应式布局的编写,有空在写*************************/



/*********************响应式布局CSS样式结束*************************/